<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/adminFile/vendors/feather/feather.css">
  <link rel="stylesheet" href="/adminFile/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/adminFile/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/adminFile/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/adminFile/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="/adminFile/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  
  <!-- inject:css -->
  <link rel="stylesheet" href="/adminFile/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/adminFile/images/favicon.png" />
  <!-- Ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- charts and graph -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  
  <!-- charts and graph -->
  
  <!-- <script src="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"></script>

  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> -->

  <!-- sweet alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- sweet alert -->


</head>

<body>

  <%- include('../partials/adminHeader') %>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->

      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <%- include('../partials/adminSidebar') %>
          <%- body %>
      </div>

    </div>
    <!-- container-scroller -->
    
    
    <!-- swal.fire -->
    <script src="/adminFile/vendors/sweetalert2.all.min.js"></script>
    <!-- end swal.fire -->

    <!-- plugins:js -->
    <script src="/adminFile/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->

    <script src="/adminFile/vendors/chart.js/Chart.min.js"></script>
    <script src="/adminFile/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="/adminFile/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="/adminFile/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/adminFile/js/off-canvas.js"></script>
    <script src="/adminFile/js/hoverable-collapse.js"></script>
    <script src="/adminFile/js/template.js"></script>
    <script src="/adminFile/js/settings.js"></script>
    <script src="/adminFile/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/adminFile/js/dashboard.js"></script>

    <script src="/adminFile/js/Chart.roundedBarCharts.js"></script>
    
    <!-- End custom js for this page-->
    
    <!-- Custom js for this page-->

    <script src="/adminFile/js/chart.js"></script>

    <!-- End custom js for this page-->

    <!-- Plugin js for this page -->

    <script src="/adminFile/vendors/chart.js/Chart.min.js"></script>

    <!-- End plugin js for this page -->

</body>
</html>