<nav class="sidebar sidebar-offcanvas" id="sidebar" >

  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth-1" aria-expanded="false" aria-controls="auth">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Account</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth-1">
        <ul class="nav flex-column sub-menu"> 
          <li><a href="/admin/adminpanel">Home</a></li>
          <li><a href="/admin/adminlogout">Log out</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Users</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu"> 
          <li><a href="/admin/userdetails">Users</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Products </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/admin/productmanagement">View products </a></li>
          <li class="nav-item"> <a class="nav-link" href="/admin/addproduct">Add products</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-1-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Categories </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-1-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/admin/category">Categories</a></li>
          <li class="nav-item"> <a class="nav-link" href="/admin/addcategories">Add Categories</a></li>

        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-1-2-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Coupons</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-1-2-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/admin/coupon-Managemnt">Coupons</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-3-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Orders</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-3-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/admin/orders">Order Management</a></li>
          <!-- <li class="nav-item"> <a class="nav-link" href="/admin/addcategories">Add Categories</a></li> -->
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-3-1-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Reports</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-3-1-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/admin/salesreport">Graphs</a></li>
        </ul>
        <!-- <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/admin/sales-report-documents">Reports</a></li>
        </ul> -->
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/admin/documents">Documentsts</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-3-2-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title"> Banners</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-3-2-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/admin/bannerManagements">Add Banners</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/offers"  >
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title" >Offers</span>
        <i class="menu-arrow"></i>
      </a>
      <!-- <div class="collapse" id="ui-3-3-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/admin/offers">Offers</a></li>
        </ul>
      </div> -->
    </li>
    
  </ul>

</nav>