<div class="page-wrapper">
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="product-details-top">
                    <div class="row">

                        <div class="col-md-6">
                            <h4 style="text-align: center;vertical-align: middle;text-decoration: underline">Profile
                            </h4>
                            <form action="/profileUser" method="get" enctype="multipart/form-data">

                                <table class="ui fixed table">
                                    <thead style="text-align: center;vertical-align: middle;">
                                        <tr>
                                            <th style="text-align: center;vertical-align: middle;">Name</th>
                                            <td><input type="text" readonly value="<%=name%> " id="input1"> </td>
                                        </tr>

                                        <tr>
                                            <th style="text-align: center;vertical-align: middle;">Email</th>
                                            <td><input type="email" readonly value="<%=email%>" id="input2"></td>
                                        </tr>

                                        <tr>
                                            <th style="text-align: center;vertical-align: middle;">Mobile</th>
                                            <td><input type="text" readonly value="<%=mobile%>" id="input3"></td>
                                        </tr>
                                    </thead>
                                </table>

                                <div style="text-align: center;vertical-align: middle;">
                                    <span>
                                        <button onclick="toggleReadonly()">Edit</button>
                                        <button id="save" type="submit" hidden>Save changes</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div><!-- End .row -->
                </div><!-- End .product-details-top -->

            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->


</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<script>
    function toggleReadonly() {
        let name = document.getElementById(id = "input1");
        let email = document.getElementById(id = "input2");
        let mobile = document.getElementById(id = "input3");
        let save = document.getElementById(id = "save");


        input1.readOnly = !input1.readOnly;
        input2.readOnly = !input2.readOnly;
        input3.readOnly = !input3.readOnly;
        save.hidden = !save.hidden
    }

    function toggle() {
        let add1 = document.getElementById(id = "add1");
        let add2 = document.getElementById(id = "add2");
        let add3 = document.getElementById(id = "add3");

        add1.readOnly = !add1.readOnly;
        add2.readOnly = !add2.readOnly;
        add3.readOnly = !add3.readOnly;
        saveAdd.hidden = !saveAdd.hidden
    }
</script>